<!DOCTYPE html>

<html>
    <head>
        <title>Your CD collection</title>
    </head>
    <body>
        <h1>Your CDs have all been deleted!</h1>
        <a href="/">Add another CD</a>
    </body>
</html>
