<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Post a car</title>
    </head>
    <body>

        <div class="container">

            {% if cds is empty %}
            <h1>Welcome to CD database</h1>
            {% endif %}

            {% if cds is not empty %}
            <h3>List of your CD collection</h3>

            <form action="/search" method="post">
                <div class="form-group">
                    <label for="search">Search for Cds</label>
                    <input type="text" name="search" id="search" class="form-control">
                </div>

                <button type="submit">Search</button>

            </form>

            <ul>
                {% for cd in cds %}
                    <br>
                    <br>
                    <li>Title: {{cd.getTitle}}</li>
                    <li>Artist: {{cd.getArtist}}</li>
                    <li>Price: ${{cd.getPrice}}</li>
                    <img src="{{cd.getCoverArt}}">
                {% endfor %}
            </ul>

            {% endif %}


            <br>
            <p><a href="/cd_form">Add new CD</a></p>
            <p><a href="/delete">Delete all your CDs</a><p>
        </div>
    </body>
</html>
