<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Post a car</title>
    </head>
    <body>
        {% if cds is empty %}
        <h1>Welcome to CD database</h1>
        {% endif %}

        <br>

        {% if cds is not empty %}
        <h3>List of your CD collection</h3>

        <ul>
            {% for cd in cds %}
                <li>Title: {{cd.getTitle}}</li>
                <li>Artist: {{cd.getArtist}}</li>
                <li>Price: ${{cd.getPrice}}</li>
                <img src="{{cd.getCoverArt}}">
            {% endfor %}
        </ul>

        {% endif %}


        <br>
        <a href="/cd_form">Add new CD</a>


    </body>
</html>
